name: Check

on:
  workflow_dispatch: {}
  pull_request: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  lint:
    name: Analysis & Linting
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v4
        with:
          persist-credentials: false
      - uses: jdx/mise-action@c37c93293d6b742fc901e1406b8f764f6fb19dac # ratchet:jdx/mise-action@v2
        env:
          GITHUB_TOKEN: ${{ github.TOKEN }}
      - run: zizmor ./action.yml ./.github/workflows/pull-request.yaml
        env:
          GITHUB_TOKEN: ${{ github.TOKEN }}
