name: Check

on:
  workflow_dispatch: {}
  pull_request: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  lint:
    name: Analysis & Linting
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4
        with:
          persist-credentials: false
      - uses: jdx/mise-action@13abe502c30c1559a5c37dff303831bab82c9402 # ratchet:jdx/mise-action@v2
        env:
          GITHUB_TOKEN: ${{ github.TOKEN }}
      - run: zizmor ./action.yml ./.github/workflows/pull-request.yaml
        env:
          GITHUB_TOKEN: ${{ github.TOKEN }}
